<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>401</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/error.css">
</head>
<body>
<div class="bg-img d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center m-auto">
                <h1>401</h1>
                <h2>UNAUTHORIZED!</h2>
                <p>Access is only allowed when the user is logged
                </p>
                <p>Click button to go back!</p>
                <p>If it still fails, please try again later...</p>
                <button id="home" class="btn primary">HOME</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../js/error.js"></script>
</html>