<div id="backtop">
    <i class="fa-solid fa-angle-up"></i>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
                <h4>Introduce</h4>
                <ul>
                    <li><a href="/views/faculty">Faculty</a></li>
                    <li><a href="/courses/list">Courses</a></li>
                    <li><a href="/events/list">Events</a></li>
                    <li><a href="/views/gallery">Gallery</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
                <h4>Discover</h4>
                <ul>
                    <li><a href="/blog-home/list">Blog Home</a></li>
                    <li><a href="/views/contact">Contact</a></li>
                    <li><a href="/admissions/list">Admissions</a></li>
                    <li><a href="/views/about">About</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-">
            <div class="single-footer-widget">
                <h4>Contact</h4>
                <ul>
                    <li>
                        <i class="fa fa-phone-square fa- "></i>
                        <a href="tel:+84 6868 3456 899">+84 6868 3456 899</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa- "></i>
                        <a href="mailto:support@5superhero.edu.vn">support@fivesuperhero.edu.vn</a>
                    </li>
                    <li>
                        <i class="fa fa-address-card fa- "></i>
                        <a href="https://goo.gl/maps/rTag9QSSNZQX2XmN6"> No. 8, Ton That Thuyet, My Dinh, Tu Liem,
                            Hanoi</a>
                    </li>
                    <li>
                        <i class="fa fa-info-circle fa- "></i>
                        <a href="#">https://fivesuperhero.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4  col-md-6 col-sm-6">
            <div class="single-footer-widget">
                <h4>Newsletter</h4>
                <p>Stay update with our latest</p>
                <div class="" id="mc_embed_signup">
                    <form >
                        <div class="input-group">
                            <input class="form-control" name="EMAIL"
                                   placeholder="Enter Email Address"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '"
                                   required="" type="email">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="lnr lnr-arrow-right"></span>
                                </button>
                            </div>
                            <div class="info"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom row align-items-center justify-content-between">
        <p class="footer-text m-0 col-lg-6 col-md-12">
            Copyright &copy; 2022 All rights reserved | Made with <i
                class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://aptech.fpt.edu.vn/"
                                                                    target="_blank">FPT APTECH - T2109A</a>
            <br>
            Distributed by <a
                href="https://aptech.fpt.edu.vn/dang-ki-tuyen-sinh" target="_blank">5SUPERHERO</a>
        </p>
        <div class="col-lg-6 col-sm-12 footer-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>